@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import "tailwindcss";

@theme {
  --font-tagesschrift: "Tagesschrift", system-ui, "sans-serif";
  --color-background: #11151c;
  --color-secondary: #58616f;
  ---color-accent: #fc2804;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carousel {
  /* margin: 0 auto; */
  /* padding: 20px 0; */
  /* max-width: 900px; */
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
}

.group {
  /* display: flex;
  gap: 80px; */
  /* Add padding to the right to create a gap between the last and first card. */
  padding-right: 20px;
  will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
  animation: scrolling 25s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
